.header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  margin-bottom: 55px;
}

.link {
  font-size: 30px;
  border-width: 0px;
  color: #fff0aa;
  margin-left: 30px;
  margin-top: 10px;
  background-color: black;
}

.links {
  margin-right: 25px;
}