.welcome {
  font-size: 40px;
  display: flex;
  color: white;
  margin-bottom: 40px;
  text-align: center;
  justify-content: space-between;
  margin-left: 30px;
  margin-top: 75px;
  text-align: left;
}

.home {
  display: flex;
  justify-content: space-between;
}

.songs {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  margin-left: 25px;
}

.song {
  background-color: #0f0916;
  margin-right: 7px;
  width: calc(25% - 50px);
  text-align: center;
  margin-bottom: 30px;
  padding: 8px;
  height: 290px;  
}

.songName {
  font-size: 20px;
  color: white;
  text-align: left;
  margin-left: 4px;
}

.artistName {
  font-size: 18px;
  color: #fff0aa;
  text-align: left;
  margin-left: 4px;
}

.genres {
  color: #fff0aa;
  text-align: left;
  font-size: 40px;
  margin-bottom: 20px;
  margin-left: 5px;
}

.genreLinks {
  background-color: #0f0916;
  text-align: left;
  margin-right: 30px;
  width: 250px;
  padding: 8px;
  height: 666px;
}

.genreLink {
  font-size: 20px;
  text-align: left;
  margin-left: 5px;
}

.genreName {
  font-size: 50px;
  color: #fff0aa;
  text-align: left;
  margin-left: 25px;
  display: flex;
}

.genreDetails {
  font-size: 25px;
  text-align: left;
  color: #b6b6b6;
  display: flex;
  margin-left: 25px;
  margin-bottom: 15px;
}

.genreColumnSong {
  background-color: #0f0916;
  padding: 8px;
  display: flex;
  width: 750px;
  margin-top: 8px;
  justify-content: space-between
}

.searchField {
  display: flex;
}

.searchInput {
  background-color: #301566;
  margin-left: 25px;
  margin-bottom: 30px;
  width: 420px;
  height: 50px;
  border-width: 0px;
  padding-left: 10px;
  font-size: 25px;
  color: white;
}

.searchButton {
  background-color: #4b0000;
  border-width: 0px;
  height: 52px;
  width: 70px;
  margin-right: 30px;
}

.resultMessage {
  color: white;
  font-size: 25px;
  margin-left: 25px;
  margin-bottom: 25px;
}

.deleteCommentMessage {
  color: white;
  margin-left: 25px;
  margin-bottom: 20px;
}

.addToPlaylistButton {
  background-color: transparent;
  border-width: 0px;
}

.choosePlaylistContainer {
  margin-bottom: 10px;
  padding: 8px;
  color: white;
  font-size: 15px;
}

.choosePlaylists {
  display: flex;
}

.choosePlaylist {
  color: #fff0aa;
  margin-right: 10px;
  background-color: #0f0916;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.columnUserContainer {
  background-color: #0f0916;
  color: #fff0aa;
  margin-top: 8px;
  height: 75px;
  padding-left: 15px;
  padding-top: 8px;
  font-size: 30px;
  margin-left: 25px;
  width: 666px;
}

.smallLike {
  text-align: right;
  margin-top: 58px;
}
.mediumLike {
  margin-top: -8px;
}