.details {
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 19px;
}

.bigSong {
  background-color: #0f0916;
  display: flex;
  margin-left: 25px;
  margin-top: 30px;
  padding: 12px;
  width: 1190px;
}

.bigSongNames {
  display: flex;
}

.bigSongName {
  font-size: 45px;
  color: white;
  width: 720px;
}

.bigSongArtistName {
  font-size: 30px;
  color: #fff0aa;
  padding-bottom: 20px;
}

.songGenres {
  display: flex;
  margin-left: 25px;
}

.songGenre {
  background-color: #0f0916;
  color: white;
  margin-right: 10px;
  padding: 8px;
  font-size: 20px;
}

.comments {
  color: white;
  margin-left: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 35px;
}

.commentInput {
  background-color: #301566;
  color: white;
  font-size: 18px;
  border-width: 0px;
  margin-bottom: 15px;
  margin-left: 25px;
  padding: 8px;
}

.commentsContainer {
  display: flex;
  justify-content: space-between;
}

.commentContainer {
  margin-left: 25px;
  margin-top: 10px;
  background-color: #0f0916;
  padding: 8px;
  word-wrap: break-word;
  width: 746px;
  display: flex;
  justify-content: space-between;
}

.username {
  font-size: 20px;
  color: #fff0aa
}

.commentText {
  font-size: 15px;
  color: white;
}

.postComment {
  display: flex;
  font-size: 20px;
  color: #cccccc;
  margin-left: 25px;
}

.commentButton {
  background-color: #4b0000;
  color: #fff0aa;
  border-radius: 5px;
  border-width: 0px;
  height: 50px;
  width: 180px;
  font-size: 20px;
  margin-bottom: 10px;
  font-style: italic;
}

.commentMessage {
  margin-left: 20px;
  margin-top: -5px;
}

.description {
  color: #fff0aa;
  word-wrap: break-word;
  white-space: pre-wrap;
  margin-right: 50px;
  margin-top: -190px;
  font-size: 12px;
  width: 350px;
}