.profileDescription {
  color: white;
  font-size: 25px;
  word-wrap: break-word;
  white-space: pre-wrap;
  width: 525px;
}

.profileDetails {
  color: white;
  font-size: 20px;
  margin-bottom: 30px;
}

.profileSongs {
  color: #fff0aa;
  font-size: 30px;
  margin-top: 25px;
}

.flag {
  margin-left: 30px;
}

.editProfileButton {
  background-color: #4b0000;
  color: #fff0aa;
  border-radius: 5px;
  border-width: 0px;
  height: 50px;
  width: 180px;
  font-size: 20px;
  margin-bottom: 10px;
  font-style: italic;
}

.noSongMessage {
  color: gray;
  font-size: 20px;
  margin-top: -20px;
  margin-bottom: 15px;
}

.noFriendsMessage {
  color: gray;
  font-size: 18px;
  width: 300px;
  margin-left: 15px;
}

.friends {
  color: white;
  font-size: 35px;
  text-align: center;
  margin-right: 25px;
}

.friendList {
  margin-top: 25px;
}

.friend {
  background-color: #0f0916;
  color: #fff0aa;
  margin-bottom: 6px;
  padding: 8px;
  width: 300px;
  font-size: 20px;
  text-align: left;
}

.friendSong {
  color: white;
  font-size: 12px;
}

.deleteSongButton {
  background-color: transparent;
  border-width: 0px;
}

.deleteSongMessage {
  color: gray;
  margin-top: -5px;
  margin-bottom: 20px;
  font-size: 18px;
  display: flex;
}

.confirmDeleteSong {
  color: red;
  margin-left: 10px;
  text-decoration: underline;
  background-color: transparent;
  border-width: 0px;
  font-size: 18px;
}